@import url("https://fonts.googleapis.com/css2?family=Coda&family=Orbitron&family=Pixelify+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital@0;1&family=Mozilla+Headline:wght@200..700&family=Mozilla+Text:wght@200..700&display=swap");
@import url("https://adobe-fonts.github.io/source-code-pro/source-code-pro.css");
@import "../node_modules/nord/src/sass/nord.scss";
/* @import "../public/fnt/molaser-brush.regular.otf"; */

/* @font-face {
    font-family: "brush";
    src: url("../public/fnt/molaser-brush.regular.otf") format("opentype");
}

@font-face {
    font-family: "polea";
    font-feature-settings: "liga" on "dlig" on "kern" on;
    src: url("../public/fnt/polea-extra-bold-demo.regular.otf")
        format("opentype");
} */

body {
    color: $nord5;
    display: grid;
    background: url("./noize.svg");
    font-size: 1rem;
    font-family: "Exo", sans-serif;
    font-feature-settings: "liga" on "dlig" on "kern" on;
}
.header {
    background: color-mix(in srgb, $nord5 70%, transparent);
}
.paper {
    background: color-mix(in srgb, $nord5 70%, transparent);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
    min-height: calc(100vh - 80px);
}

@media only screen and (max-width: 600px) {
    .paper {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.p-card-title {
    font-family: "Mozilla Headline", sans-serif;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

h1 {
    font-family: "Mozilla Headline", sans-serif;
    font-size: 3rem;
}
h2,
h3,
h4 {
    font-family: "Mozilla Headline", sans-serif;
}

h3 {
    border: 1px solid $nord0;
    border-radius: 6px;
    text-align: center;
    padding: 3px;
    background-color: color-mix(in srgb, $nord9 10%, transparent);
    text-transform: lowercase;
    // font-family: "Pixelify Sans", serif;
}

p,
a,
.p-button-label {
    font-family: "Mozilla Text", cursive;
}

a,
button {
    color: $nord3 !important;
    transition: all 1s ease-out;
}

a:hover {
    color: $nord6;
}

.bold-list-item:first-letter {
    /* -webkit-initial-letter: 4;
    initial-letter: 4; */
    /* color: orange; */
    font-weight: bold;
    font-size: 3rem;
    margin-right: 0.75em;
    font-family: monospace;
}

.card {
    margin-top: 10px;
    border: 1px solid $nord6;
    background-color: color-mix(in srgb, $nord6 70%, transparent);
    border-radius: 0 !important;
    color: $nord3 !important;
    box-shadow: none !important;
    clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%);
    width: unset !important;

    h1 {
        text-align: center;
    }
}

.card-l2 {
    background-color: $nord4;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 20px !important;
}

.card-link {
    display: flex;
    gap: 4rem;
    align-items: center;
    background-color: $nord4;
    transition: background-color ease-in-out 0.3s;
}

.card-small {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 0;
    }
}

@media only screen and (min-width: 600px) {
    .card {
        padding-right: 50px;
        padding-left: 50px;
    }
    .card-link,
    .card-small {
        &:hover {
            background-color: $nord14;
            cursor: pointer;
        }
    }
}

.top-button {
    border: 1px solid $nord6;
    border-top: none;
    padding: 10px;
    color: $nord6;
    background: $nord3;
    cursor: pointer;
    transition: all 1s ease-out;
    margin-left: 10px;
}

.top-button:hover {
    background: rgba(0, 0, 0, 0.7);
}

[popover]:popover-open {
    opacity: 1;
    transform: scaleX(1);
}

[popover] {
    /* Финальное состояние анимации исчезновения */
    opacity: 0;
    transform: scaleX(0);

    transition:
        opacity 0.3s,
        transform 0.3s,
        overlay 0.3s allow-discrete,
        display 0.3s allow-discrete;
}

@starting-style {
    [popover]:popover-open {
        opacity: 0;
        transform: scaleX(0);
    }
}

/* Анимация для фона поповера */
[popover]::backdrop {
    background-color: rgb(0 0 0 / 0%);
    transition:
        display 0.3s allow-discrete,
        overlay 0.3s allow-discrete,
        background-color 0.3s;
    /* Equivalent to
    transition: all 0.7s allow-discrete; */
}

[popover]:popover-open::backdrop {
    background-color: rgb(0 0 0 / 25%);
}

@starting-style {
    [popover]:popover-open::backdrop {
        background-color: rgb(0 0 0 / 0%);
    }
}

@media only screen and (min-width: 600px) {
    .card {
        padding-right: 50px;
        padding-left: 50px;
    }

    .img-dialog {
        height: 90vh;
        min-width: 80vw;
    }
}

.img-dialog {
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #4c566a;
}

.img-container {
    text-align: center;
    width: 100%;
    height: 100%;
}

.close-btn {
    border: none;
    background-color: $nord5;
    cursor: pointer;
}

.dlg-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}

pre {
    font-family: "Source Code Pro", monospace;
    line-height: 0.8rem;
    font-size: 0.5rem;
    letter-spacing: 0.08rem;
}

@media only screen and (min-width: 600px) {
    pre {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.08rem;
    }
}

code {
    white-space: pre-wrap !important;
}

.imgButton {
    border: none !important;
    cursor: pointer;
}

.button {
    border-left: 1px solid $nord5;
    border-right: 1px solid $nord0;
    border-bottom: 1px solid $nord0;
    background: $nord6;
    color: $nord0;
    box-shadow:
        3px 3px 5px 0px $nord3,
        -3px -1px 7px 0px $nord6;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    outline-offset: -3px;
    outline: 1px solid $nord4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.5s ease-in-out;
}
.button:hover {
    cursor: pointer;
    background: $nord12;
}

@media (min-width: 800px) {
    .crt {
        /* scanlines */
        background: linear-gradient(
            to top,
            $nord3,
            $nord4,
            $nord5,
            $nord5
        ) !important;
        background-size: cover !important;
        background-size: 100% 1px !important;

        padding-left: 30px !important;

        position: relative;
    }

    .crt::after {
        animation: blinker 1s cubic-bezier(1, 0, 0, 1) infinite;
        position: absolute;
        left: 30px;
        content: "_";
    }

    .crt .token,
    .crt code {
        text-shadow: 0 0 10px #ffffff !important;
        background: none !important;
    }
}

@media (min-resolution: 1.2x) {
    .crt {
        background-size: 100% 2px !important;
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.flickeImageTileContainer {
    overflow: clip;
}

.flickeImageTile {
    transition: all 0.5s ease;
}

.flickeImageTile:hover {
    transform: scale(1.1);
}

:root {
    --padding-xs: 16px;
    --padding-sm: 16px;
    --padding-md: 32px;
    --padding-xl: 64px;
    --padding-2xl: 80px;
    --max-2xl-width: 1500px;
    --max-3xl-width: 1521px;
}

.main-list {
    display: grid;
    grid-template-columns: 1fr;
}
@media screen and (min-width: 1280px) {
    .main-list {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
}
.flickeImageTileContainer {
    margin-left: auto;
    margin-right: auto;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: $nord1;
    padding: 50px;
}

@media screen and (min-width: 768px) {
    .images-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .images-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1536px) {
    .images-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* @media screen and (min-width: 1536px) {
    .main-list {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
} */

/* 2xs */
.article {
    width: 100vw;
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
}

/* xs */
@media screen and (min-width: 400px) {
    .article {
        width: 100vw;
        padding-left: var(--padding-xs);
        padding-right: var(--padding-xs);
    }
}

/* sm */
@media screen and (min-width: 640px) {
    .article {
        width: 100vw;
        padding-left: var(--padding-sm);
        padding-right: var(--padding-sm);
    }
}

/* md */
@media screen and (min-width: 768px) {
    .article {
        width: 100vw;
        padding-left: var(--padding-md);
        padding-right: var(--padding-md);
    }
}

/* lg */
@media screen and (min-width: 1024px) {
    .article {
        width: 100vw;
        padding-left: var(--padding-md);
        padding-right: var(--padding-md);
    }
}

/* xl */
@media screen and (min-width: 1280px) {
    .article {
        width: unset;
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
    }
}

/* 2xl */
@media screen and (min-width: 1536px) {
    .article {
        width: unset;
        padding-left: calc((100vw - var(--max-2xl-width)) / 2);
        padding-right: calc((100vw - var(--max-2xl-width)) / 2);
    }
}

/* 3xl */
@media screen and (min-width: 1920px) {
    .article {
        width: unset;
        padding-left: calc((100vw - var(--max-3xl-width)) / 2);
        padding-right: calc((100vw - var(--max-3xl-width)) / 2);
    }
}

.art {
    text-align: center;
}
