@import url('https://fonts.googleapis.com/css2?family=Coda&family=Orbitron&display=swap');
@import "../node_modules/nord/src/sass/nord.scss";

body {
  background-color: $nord4;
  color: $nord5;
}

.paper {
    background-color: $nord5;
    // margin: '1rem';
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
}

@media only screen and (max-width: 600px) {
    .paper {
        padding-right: 10px;
        padding-left: 10px;
    }
  }

.p-card-title {
    font-family: 'Coda', sans-serif;
}

h3, h4 {
    font-family: 'Coda', sans-serif;
}


p, a, .p-button-label {
    font-family: 'Coda', cursive;
}

a, button {
    color: $nord3 !important;
    transition: all 1s ease-out;
}

a:hover {
    color: $nord6;
}

.card {
    margin-top: 10px;
    border: 1px solid $nord6;
    background: $nord6 !important;
    border-radius: 0 !important;
    color: $nord3 !important;
    box-shadow: none !important;
    clip-path: polygon(0 0,calc(100% - 40.00px) 0,100% 40.00px,100% 100%,0 100%);
    width: unset !important;
}

.card-l2 {
    background: $nord4 !important;
    min-height: 200px;
    max-width: 300px;
    min-width: 300px;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

@media only screen and (min-width: 600px) {
    .card {
        padding-right: 50px;
        padding-left: 50px;
    }
  }

.top-button {
    border: 1px solid $nord6;
    border-top: none;
    padding: 10px;
    font-family: 'Coda', sans-serif;
    color: $nord6;
    background: $nord3;
    cursor: pointer;
    transition: all 1s ease-out;
    margin-left: 10px;
}

.top-button:hover {
    background: rgba(0, 0, 0, 0.7);
}

// .card {
    
// }